In [1]:
%pylab notebook
import datacube
from datetime import datetime, timedelta
import pandas as pd
import pyproj
import csv

dc = datacube.Datacube(app='nbart-fieldsites')

Populating the interactive namespace from numpy and matplotlib

In [2]:
fieldsites = pd.read_csv(
    'jrsrp_20170430.csv',
    usecols=[
        'obs_key',
        'obs_time',
        'longitude',
        'latitude',
    ])

In [24]:
def query_cube(fieldsite_key, fieldsite_time, lon, lat):
    target_day = datetime.strptime(fieldsite_time, '%Y-%m-%d')
    time_before = (target_day - timedelta(days=60)).strftime('%Y-%m-%d')
    time_after = (target_day + timedelta(days=60)).strftime('%Y-%m-%d')
    
    query = {'time': (time_before, time_after)}
    
    wgs_84 = pyproj.Proj(init='epsg:4326')
    aus_albers = pyproj.Proj(init='epsg:3577')

    x, y = pyproj.transform(wgs_84, aus_albers, lon, lat)
    
    y_max = y-30
    y_min = y+30
    x_max = x-30
    x_min = x+30
    query['x'] = (x_min, x_max)
    query['y'] = (y_max, y_min)
    query['crs'] = 'EPSG:3577'
        
    query['output_crs'] = 'EPSG:3577'
    query['resolution'] = -25, 25
    
    query['measurements'] = ['blue',
                          'green',
                          'red', 
                          'nir',
                          'swir1', 
                          'swir2'
                          ]
    
    deltas = {}
    products = dc.list_products()
    delta = None
    observation_date = None
    observation_product = None
    for product in products.name:        
        #if(product.startswith('ls') and product.endswith('albers') and (product not in ['ls5_ndvi_albers','ls7_ndvi_albers','ls8_ndvi_albers'])):
        if(product in ['ls5_nbart_albers','ls7_nbart_albers','ls8_nbart_albers']):        
            datasets = dc.find_datasets(product=product,**query)
            for dataset in datasets:
                if(delta == None):
                    delta  = (target_day - dataset.center_time)
                    observation_date = dataset.center_time
                    observation_product = product
                    continue
                current_delta = (target_day - dataset.center_time)
                if(abs(current_delta) < abs(delta)):
                    delta  = current_delta
                    observation_date = dataset.center_time
                    observation_product = product
    if(observation_date):
        time_before = (observation_date - timedelta(days=1)).strftime('%Y-%m-%d')
        time_after = (observation_date + timedelta(days=1)).strftime('%Y-%m-%d')
        query['time'] = (time_before, time_after)
        data = dc.load(product=observation_product, **query)

        point = data.sel(x=x,y=y,time=target_day, method='nearest')
        blue = point.blue.data
        green = point.green.data
        red = point.red.data
        nir = point.nir.data
        swir1 = point.swir1.data
        swir2 = point.swir2.data

        return fieldsite_key, fieldsite_time, lon, lat, observation_product, observation_date, delta, blue, green, red, nir, swir1, swir2
    else:
        print('could not find: ' + fieldsite_time)
        return None

In [32]:
fieldsite_tuples = [tuple(x) for x in fieldsites.values]
index = 0
observation_tuples = []
for fieldsite in fieldsite_tuples: 
    result = query_cube(*fieldsite)
    if(result):
        observation_tuples.append(result)
    index = index + 1
    if(index >= 500):
        break

could not find: 2017-02-12
could not find: 2017-04-05

In [33]:
df = pd.DataFrame(observation_tuples,
                  columns=[
                      'fieldsite_key',
                      'fieldsite_time',
                      'lon',
                      'lat',
                      'observation_product',
                      'observation_date',
                      'time_delta',
                      'blue',
                      'green',
                      'red',
                      'nir',
                      'swir1',
                      'swir2'
                  ])

In [34]:
df

,fieldsite_key,fieldsite_time,lon,lat,observation_product,observation_date,time_delta,blue,green,red,nir,swir1,swir2
0,15282706_02742904_20101216_000000,2010-12-16,152.827067,-27.429043,ls5_nbart_albers,2010-12-15 23:31:57.500,0 days 00:28:02.500000,183,359,329,2276,1174,354
1,12191981_03088325_20101013_000000,2010-10-13,121.919808,-30.883252,ls7_nbart_albers,2010-10-10 01:33:03.500,2 days 22:26:56.500000,-999,-999,-999,-999,-999,-999
2,14432646_02760430_20021030_000000,2002-10-30,144.326462,-27.604300,ls7_nbart_albers,2002-10-25 00:06:59.500,4 days 23:53:00.500000,519,905,1632,2285,3454,2916
3,13399362_02377054_20120608_000000,2012-06-08,133.993630,-23.770550,ls7_nbart_albers,2012-06-15 00:55:40.500,-8 days +23:04:19.500000,755,954,1160,1768,2462,1866
4,13577022_02114920_20160804_000000,2016-08-04,135.770220,-21.149200,ls8_nbart_albers,2016-07-29 00:54:41.500,5 days 23:05:18.500000,515,866,1159,2378,3046,2326
5,12456729_01785321_20120828_000000,2012-08-28,124.567289,-17.853211,ls7_nbart_albers,2012-09-04 01:38:16.000,-8 days +22:21:44,886,1167,1447,2149,2717,2248
6,13466259_02126378_20150527_000000,2015-05-27,134.662596,-21.263788,ls7_nbart_albers,2015-05-23 01:00:19.000,3 days 22:59:41,635,1187,2006,2853,3790,2935
7,15310119_02595226_20100630_130000,2010-06-30,153.101190,-25.952261,ls7_nbart_albers,2010-06-21 23:40:03.500,8 days 00:19:56.500000,-999,-999,7122,7422,3647,1984
8,13747621_01831000_20110922_000000,2011-09-22,137.476219,-18.310003,ls5_nbart_albers,2011-09-18 00:42:21.000,3 days 23:17:39,524,901,1159,2099,2670,1860
9,14846057_02824703_20161101_000000,2016-11-01,148.460570,-28.247030,ls8_nbart_albers,2016-10-02 00:01:18.000,29 days 23:58:42,830,987,975,2327,1670,1165
10,14653153_01980285_20060421_000000,2006-04-21,146.531535,-19.802851,ls7_nbart_albers,2006-04-27 00:07:13.500,-7 days +23:52:46.500000,1692,1873,1927,3618,3074,2547
11,14598394_01949405_19971001_000038,1997-10-01,145.983940,-19.494059,ls5_nbart_albers,1997-10-02 23:50:07.000,-2 days +00:09:53,944,1391,1804,2785,4797,3664
12,13622756_02193975_20160824_000000,2016-08-24,136.227561,-21.939750,ls7_nbart_albers,2016-08-22 00:57:19.500,1 days 23:02:40.500000,364,607,982,1470,2137,1597
13,14815056_03565651_20110111_000000,2011-01-11,148.150571,-35.656517,ls5_nbart_albers,2011-01-14 23:46:48.500,-4 days +00:13:11.500000,160,268,284,2044,891,301
14,11681968_02097839_20110822_000000,2011-08-22,116.819682,-20.978394,ls7_nbart_albers,2011-08-20 02:08:25.500,1 days 21:51:34.500000,538,883,1406,2173,3145,2566
15,13440487_01852067_20141003_000000,2014-10-03,134.404874,-18.520673,ls7_nbart_albers,2014-10-02 01:04:07.000,0 days 22:55:53,949,1528,2124,3004,3373,2508
16,12966402_01786564_20150618_000000,2015-06-18,129.664027,-17.865643,ls7_nbart_albers,2015-06-20 01:23:59.500,-3 days +22:36:00.500000,727,1294,2191,3233,3556,2272
17,13067934_01823514_20150523_000000,2015-05-23,130.679340,-18.235140,ls8_nbart_albers,2015-05-20 01:17:39.000,2 days 22:42:21,592,1075,1659,2859,2886,2320
18,13521250_01735842_20130809_000000,2013-08-09,135.212502,-17.358425,ls7_nbart_albers,2013-08-05 00:54:55.500,3 days 23:05:04.500000,454,705,878,1739,2577,1735
19,14566707_01950722_20160830_000000,2016-08-30,145.667070,-19.507220,ls7_nbart_albers,2016-08-28 00:19:52.500,1 days 23:40:07.500000,454,792,988,2485,3015,2086
20,13483730_02579251_20140909_000000,2014-09-09,134.837309,-25.792517,ls8_nbart_albers,2014-09-10 00:56:01.000,-2 days +23:03:59,600,1126,2507,3435,5018,4349
21,15305673_02600155_20151111_043000,2015-11-11,153.056730,-26.001550,ls8_nbart_albers,2015-11-11 23:41:49.000,-1 days +00:18:11,5025,4796,4749,5222,2754,1820
22,13866228_03002524_20120426_000000,2012-04-26,138.662281,-30.025238,ls7_nbart_albers,2012-05-02 00:33:00.500,-7 days +23:26:59.500000,808,1449,2294,3106,3765,3110
23,14615343_02029290_19970929_000027,1997-09-29,146.153432,-20.292903,ls5_nbart_albers,1997-10-02 23:50:07.000,-4 days +00:09:53,670,1179,1735,2508,4652,3827
24,11899442_02800782_20120912_000000,2012-09-12,118.994425,-28.007822,ls7_nbart_albers,2012-09-18 01:53:31.500,-7 days +22:06:28.500000,1649,1941,2590,3290,3492,2587
25,14918061_03520130_20140223_234900,2014-02-23,149.180610,-35.201300,ls8_nbart_albers,2014-02-23 23:57:13.000,-1 days +00:02:47,582,802,1044,1854,3644,2551
26,13086485_01780029_20120725_000000,2012-07-25,130.864855,-17.800298,ls7_nbart_albers,2012-07-22 01:13:03.500,2 days 22:46:56.500000,-999,-999,-999,2730,3297,2615
27,13636614_01776261_20130515_000000,2013-05-15,136.366143,-17.762619,ls8_nbart_albers,2013-05-18 00:55:29.000,-4 days +23:04:31,5831,5761,6013,6015,4512,3500
28,13273949_02344746_20160925_000000,2016-09-25,132.739495,-23.447462,ls8_nbart_albers,2016-09-29 01:07:40.000,-5 days +22:52:20,631,1129,1857,2750,4051,3743
29,13630686_02710211_20120414_000000,2012-04-14,136.306863,-27.102109,ls7_nbart_albers,2012-04-14 00:44:09.000,-1 days +23:15:51,1374,1874,2110,4260,3823,2791
...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,14521058_03001795_20121017_000000,2012-10-17,145.210583,-30.017948,ls7_nbart_albers,2012-10-13 00:09:30.500,3 days 23:50:29.500000,861,1101,1375,2028,3300,2369
469,13019522_01777534_20150613_000000,2015-06-13,130.195220,-17.775340,ls8_nbart_albers,2015-06-12 01:23:39.000,0 days 22:36:21,730,1119,1616,2568,2899,1971
470,13046504_03146915_20121129_000000,2012-11-29,130.465039,-31.469155,ls7_nbart_albers,2012-11-29 01:05:49.500,-1 days +22:54:10.500000,687,1047,1536,2317,3454,2875
471,13397399_02446000_20130919_000000,2013-09-19,133.974000,-24.460000,ls7_nbart_albers,2013-09-22 00:57:21.500,-4 days +23:02:38.500000,692,1249,2335,3147,4377,3972
472,14428534_02765531_20021029_000000,2002-10-29,144.285341,-27.655315,ls7_nbart_albers,2002-10-25 00:06:59.500,3 days 23:53:00.500000,585,1047,1969,2590,4012,3630
473,14581534_02035516_19980219_000055,1998-02-19,145.815340,-20.355162,ls5_nbart_albers,1998-02-23 23:53:29.000,-5 days +00:06:31,310,356,354,784,657,362
474,14581534_02035516_19980219_000054,1998-02-19,145.815340,-20.355162,ls5_nbart_albers,1998-02-23 23:53:29.000,-5 days +00:06:31,310,356,354,784,657,362
475,12177021_02889261_20121120_000000,2012-11-20,121.770210,-28.892613,ls7_nbart_albers,2012-11-23 01:42:06.500,-4 days +22:17:53.500000,465,786,1342,1810,2764,2310
476,13278179_02262331_20120724_000000,2012-07-24,132.781788,-22.623305,ls7_nbart_albers,2012-07-08 01:02:07.500,15 days 22:57:52.500000,394,748,1544,2126,3172,2886
477,14957137_02365390_20161111_000000,2016-11-11,149.571370,-23.653900,ls8_nbart_albers,2016-10-01 23:59:42.000,40 days 00:00:18,296,452,484,2114,1849,1043
478,13388405_01830455_20131013_000000,2013-10-13,133.884059,-18.304558,ls7_nbart_albers,2013-10-15 01:02:14.500,-3 days +22:57:45.500000,880,1356,1844,2489,3194,2731
479,13483787_02416085_20151008_000000,2015-10-08,134.837877,-24.160860,ls7_nbart_albers,2015-10-07 00:55:30.500,0 days 23:04:29.500000,-999,-999,-999,-999,-999,-999
480,15101782_03407802_20130509_000000,2013-05-15,151.017829,-34.078020,ls8_nbart_albers,2013-05-20 23:51:55.000,-6 days +00:08:05,239,341,262,2592,859,320
481,14621865_02021555_20041028_000000,2004-10-28,146.218654,-20.215553,ls7_nbart_albers,2004-10-30 00:06:02.500,-3 days +23:53:57.500000,1163,1409,1802,2765,4023,2658
482,14649962_01977882_20050407_000000,2005-04-07,146.499626,-19.778826,ls5_nbart_albers,2005-04-08 23:58:07.000,-2 days +00:01:53,3931,4063,4176,4996,4361,3253
483,13263975_02274420_20160517_000000,2016-05-17,132.639750,-22.744200,ls7_nbart_albers,2016-05-16 01:09:50.500,0 days 22:50:09.500000,568,1247,2073,2949,4249,3800
484,13082756_01784948_20120725_000000,2012-07-25,130.827564,-17.849485,ls7_nbart_albers,2012-07-22 01:13:03.500,2 days 22:46:56.500000,661,1080,1629,2822,3330,2138
485,13345868_02256697_20150430_000000,2015-04-30,133.458690,-22.566970,ls8_nbart_albers,2015-04-29 01:00:31.500,0 days 22:59:28.500000,517,963,1787,2973,3530,2957
486,14581533_02035525_19970923_000008,1997-09-23,145.815330,-20.355252,ls5_nbart_albers,1997-09-16 23:49:38.500,6 days 00:10:21.500000,654,924,1166,1953,3343,2434
487,12948728_01776213_20150612_000000,2015-06-12,129.487289,-17.762131,ls8_nbart_albers,2015-06-12 01:23:39.000,-1 days +22:36:21,589,988,1444,2750,2777,1695
488,12172062_03086876_20101013_000000,2010-10-13,121.720622,-30.868759,ls5_nbart_albers,2010-10-09 01:36:32.000,3 days 22:23:28,416,882,1556,2105,3117,2827
489,13077696_01316973_20100709_000000,2010-07-09,130.776969,-13.169732,ls7_nbart_albers,2010-07-08 01:15:23.500,0 days 22:44:36.500000,439,705,822,2396,2224,1281
490,14581533_02035525_19970923_000007,1997-09-23,145.815330,-20.355252,ls5_nbart_albers,1997-09-16 23:49:38.500,6 days 00:10:21.500000,654,924,1166,1953,3343,2434
491,13217973_02336796_20160419_000000,2016-04-19,132.179735,-23.367963,ls8_nbart_albers,2016-04-22 01:06:58.000,-4 days +22:53:02,750,1234,1931,2864,3600,3074
492,14301306_03424540_20090515_000000,2009-05-15,143.013065,-34.245408,ls7_nbart_albers,2009-05-14 00:05:26.500,0 days 23:54:33.500000,5017,5168,5303,5756,3996,2531
493,13095656_01606620_20141014_000000,2014-10-14,130.956569,-16.066206,ls7_nbart_albers,2014-10-16 01:15:47.500,-3 days +22:44:12.500000,593,917,1373,2706,3131,2057
494,13232438_02217658_20140401_000000,2014-04-01,132.324383,-22.176587,ls8_nbart_albers,2014-04-01 01:07:15.500,-1 days +22:52:44.500000,638,1142,2069,3469,4154,3357
495,13589073_01900717_20160810_000000,2016-08-10,135.890730,-19.007170,ls7_nbart_albers,2016-08-13 01:02:41.000,-4 days +22:57:19,-999,-999,-999,-999,3134,2269
496,13341858_01736592_20130414_000000,2013-04-14,133.418590,-17.365926,ls8_nbart_albers,2013-04-14 01:07:39.000,-1 days +22:52:21,783,1043,1245,2178,3211,2422
497,13329087_02591711_20130606_000000,2013-06-06,133.290880,-25.917116,ls8_nbart_albers,2013-05-25 01:04:06.500,11 days 22:55:53.500000,469,892,1655,2279,3266,2812